#root {
  /* max-width: 1280px; */
  /* padding: 2rem auto; */
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
}

.image-output {
  height: 100%;
}
